<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <main role="main" class="container-fluid home-container index">
    <%- include("./partials/navBar.ejs") %>

    <div class="container end-container">
      <h2 class="tick-h2">Ευχαριστούμε για την συμμετοχή!</h2>
      <img class="tick-image" src="../assets/images/tick.png">
      <p class="end-p">Αν θέλετε να διαβάσετε περισσότερα για το θέμα που διαπραγματεύεται η έρευνα
        <br> πατήστε <a class="ref-link" href="/references">εδώ</a>
      </p>
    </div>
  </main>
  <%- include("./partials/jsFiles.ejs") %>
</body>

</html>