<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>


<body>
  <%- include('./partials/navBar.ejs') %>
  <main role="main" class="container-fluid ref-container">

    <div class="ref-div diag-div">
      <ul class="ref-list">
        <li class="ref-item">
          <a class="ref-link" href="https://www.mdpi.com/2071-1050/13/9/4620/htm">Cycling in the Era of COVID-19: Lessons Learnt and Best Practice Policy Recommendations for a More Bike-Centric Future
          </a>
        </li>
        <li class="ref-item">
          <a class="ref-link" href="https://www.smu.gr/covid19/">Παρατηρητήριο ... Covid19
          </a>
        </li>
        <li class="ref-item">
          <a class="ref-link" href="https://www.tandfonline.com/doi/pdf/10.1080/23748834.2020.1780074?needAccess=true">The impact of COVID-19 on public space: an
            early review of the emerging questions – design, perceptions and inequities
          </a>
        </li>
        <li class="ref-item">
          <a class="ref-link" href="https://ikee.lib.auth.gr/record/313863/files/%CE%A7%CF%81%CE%B9%CF%83%CF%84%CE%BF%CE%B4%CE%BF%CF%8D%CE%BB%CE%BF%CF%85.pdf">Η συρρίκνωση του δημόσιου χώρου στη
            σύγχρονη ρευστότητα των διαδικασιών του πολεοδομικού σχεδιασμού και της αστικής ανάπτυξης
          </a>
        </li>
        <li class="ref-item">
          <a class="ref-link" href="https://books.google.gr/books?hl=el&lr=&id=lcwlAgAAQBAJ&oi=fnd&pg=PP1&ots=Kpy9WrtJGH&sig=Lu-FCvwlz7MaqpdnjeVa0kmtyZ8&redir_esc=y#v=onepage&q&f=false">
            Public space and the challenges of urban transformation in Europe, A Madanipour, S Knierbein, A Degros, 2013
          </a>
        </li>
        <li class="ref-item">
          <a class="ref-link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7264536/pdf/CISO-32-na.pdf">
            Thoughts about public space during Covid-19 pandemic
          </a>
        </li>
        <li class="ref-item">
          <a class="ref-link" href="https://books.google.gr/books?hl=el&lr=&id=7yz4BcysNMwC&oi=fnd&pg=PR3&ots=01wiXodYSM&sig=ioMHcn6jkwxl2udzVBiOcZTRKtA&redir_esc=y#v=onepage&q&f=false">
            Whose public space? International case studies in urban design and development, Ali Madanipour, 2010
          </a>
        </li>
      </ul>

    </div>
  </main>

  <%- include("./partials/jsFiles.ejs") %>
</body>

</html>